// A slightly modified Meyer reset
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, em, img,
small, strong, b, i, ol, ul, li, article, aside,
figure, figcaption, footer, header, hgroup,
menu, nav, section,
time, mark {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

i, em, mark {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6,
b, strong, mark {
    font-weight: 600;
}

mark {
    background-color: transparent;
    color: inherit;
}