.opener {
    background: #0c0c0a url("../img/opener-bg.jpg") repeat;
    background-size: cover;
    color: #d8d3d2;

    .role {
        color: #9d9d9d;
    }

    .composition {
        @include animation(opener-comp 13s infinite ease alternate);
        @include transform(translateX(-4%) scale(1.02));
        @include mask(url("../img/opener-human.png") top left / cover no-repeat);
    }

    .human,
    .town {
        left: 0;
        min-height: 768px;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .human {
        background: transparent url("../img/opener-human.png") no-repeat;
        opacity: 0.8;
        background-size: cover;
    }

    .town {
        @include animation(opener-town 11s infinite linear);
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url("../img/opener-blip.jpg"), url("../img/opener-town.png");
        background-size: 0, cover;
        opacity: 0.8;
    }

    .copy {
        @include animation(opener-copy 13s infinite ease alternate);
        top: 20%;
        @include transform(translateX(29%) scale(0.9));
        width: 100%;
    }
}

@include keyframes (opener-copy) {
    0%, 100% {
        opacity: 0;
    }

    4%, 96% {
        opacity: 1;
    }

    100% {
        @include transform(translateX(48%) scale(1.06));
    }
}

@include keyframes (opener-comp) {
    40% {
        opacity: 1;
    }

    40.1%, 40.3%, 40.5%  {
        opacity: 0.1;
    }

    40.2%, 40.4%, 40.6% {
        opacity: 1;
    }

    100% {
        @include transform(translateX(7%) scale(1.08) skewY(2deg));
    }
}

@include keyframes (opener-town) {
    0%, 40%, 41% {
        background-size: 0, cover;
    }

    40.1% {
        background-size: 120%, cover;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        @include transform(translateX(-350px));
    }
}