.bumper-01 {
    $delay: 16s;
    background: #0e0b06 url("../img/bumper-01-bg.jpg") repeat;
    background-size: cover;

    .composition {
        @include animation(bumper-01-comp 21s $delay infinite ease alternate);
        @include mask(url("../img/bumper-01-human.png") top left / cover no-repeat);
    }

    .composition,
    .human,
    .crud {
        left: 0;
        min-height: 768px;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .human {
        background: transparent url("../img/bumper-01-human.png") no-repeat;
        opacity: 0.8;
        background-size: cover;
    }

    .crud {
        @include animation(bumper-01-crud 28s $delay infinite ease alternate);
        background: transparent url("../img/bumper-01-crud.png") no-repeat;
        background-size: cover;
        opacity: 0.45;
        @include transform(translateX(200px));
    }
}

@include keyframes (bumper-01-comp) {
    100% {
        @include transform(scale(1.1) translateX(-40px));
    }
}

@include keyframes (bumper-01-crud) {
    100% {
        @include transform(translateX(-18px));
    }
}