.controls {
    background-color: rgba(#000, 0.8);
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.project-crud {
    display: inline-block;
    position: absolute;
    right: 0;

    a {
        color: #d8d3d2;
        font-family: georgia, times, serif;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}