$dev-mode: true;

html, body, .titles {
    height: 100%;
}

html, body {
    background: #0c0c0a url("../img/opener-bg.jpg") no-repeat;
    background-size: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

.title-card {
    height: 100%;
    overflow: hidden;

    @if not $dev-mode {
        position: absolute;
    } @else {
        position: relative;
    }

    width: 100%;
}

$duration: 30s;
$iteration: infinite;

@include keyframes (opener) {
    0%, 24.9% {
        opacity: 1;
    }

    25%, 100% {
        opacity: 0;
    }
}

@include keyframes (director) {
    0%, 24.9%, 50%, 100% {
        opacity: 0;
    }

    25%, 49.9% {
        opacity: 1;
    }
}

@include keyframes (photography) {
    0%, 49.9%, 75%, 100% {
        opacity: 0;
    }

    50%, 74.9% {
        opacity: 1;
    }
}

@include keyframes (twitter) {
    0%, 74.9%, 100% {
        opacity: 0;
    }

    75%, 99.9% {
        opacity: 1;
    }
}

.copy {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.07em;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}

.composition {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.role {
    display: block;
    font-family: georgia, times, serif;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.opener {
    @if not $dev-mode {
        @include animation(opener $duration $iteration);
    }
}

.director {
    @if not $dev-mode {
        @include animation(director $duration $iteration);
    }
}

.photography {
    @if not $dev-mode {
        @include animation(photography $duration $iteration);
    }
}

.twitter {
    @if not $dev-mode {
        @include animation(twitter $duration $iteration);
    }

    background-color: #fbf7f9;
}

.paused {
    .animated,
    .title-card .animated {
        animation-play-state: paused;
    }
}