html, body, .titles {
    height: 100%;
}

a {
    border-bottom: 1px solid;
    display: inline-block;
    text-decoration: none;
}

.title-card {
    background-color: lavender;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.copy {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.07em;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}

.composition {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.role {
    display: block;
    font-family: georgia, times, serif;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.director {
    background: #dededd url("../img/director-bg.jpg") no-repeat;
    background-size: cover;
    color: #626963;

    .role {
        color: #3a3a3a;
    }

    a {
        color: #626963;
    }
}

.photography {
    background-color: #07060c;

    .role {
        color: #d8d3d2;
    }
}

.twitter {
    background-color: #fbf7f9;

}