html, body, .titles {
    height: 100%;
}

a {
    border-bottom: 1px solid;
    display: inline-block;
    text-decoration: none;
}

.title-card {
    background-color: lavender;
    height: 100%;
    text-align: center;
    width: 100%;
}

.copy {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 2.2em;
    font-weight: 100;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.role {
    display: block;
    font-family: georgia, times, serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.opener {
    background: #0c0c0a url("../img/opener-bg.jpg") no-repeat;
    background-size: cover;
    color: #d8d3d2;

    .role {
        color: #9d9d9d;
    }
}

.director {
    background: #dededd url("../img/director-bg.jpg") no-repeat;
    background-size: cover;
    color: #626963;

    .role {
        color: #3a3a3a;
    }

    a {
        color: #626963;
    }
}

.photography {
    background-color: #07060c;

    .role {
        color: #d8d3d2;
    }
}

.twitter {
    background-color: #fbf7f9;

}